<div class="container__big-card">
	<div class="big-card__photo">
		<img
			src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/800px-Placeholder_view_vector.svg.png"
			alt="placeholder image"
		/>
	</div>
	<div class="big-card__title">
		<h1><a href="#">Saiu a nova versão do Angular</a></h1>
	</div>
	<div class="big-card__description">
		<p>
			<a href="#">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
				officiis aspernatur repellendus architecto, neque minima eum
				dicta praesentium a in.
			</a>
		</p>
	</div>
</div>
